<div class="container">
  <div class="row align-items-start">
      <% @users.each do |user| %>
        <div class="col">
            <%= render 'users/user', user: user %>
        </div>
      <% end %>
  </div>
</div>


<div class="container">
  <div class="form-inline my-4">
    <%= search_form_for @q do |f| %>
      <div class="row">
        <div class="col">
          <%= f.search_field :email_cont, placeholder: 'email', class: 'form-control' %>
        </div>
        <div class="col">
          <%= f.search_field :sign_in_count_eq, placeholder: 'sign in count', class: 'form-control' %>
        </div>
        <div class="col">
          <%= f.search_field :email_or_sign_in_count_eq, placeholder: 'email or sign in count', class: 'form-control' %>
        </div>
        <div class="col d-grid gap-2">
          <%= f.submit class: 'btn btn-dark' %>
        </div>
        <div class="col-1">
          <%= link_to '', users_path, class: 'fas fa-sync-alt' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>id</th>
    <th>
      <%= sort_link(@q, :email) %>
    </th>
    <th>created_at</th>
    <th>
      <%= 'sign_in_count'.humanize %>
    </th>
    <th>
      <%= 'current_sign_in_at'.humanize %>
    </th>
    <th>
      <%= 'last_sign_in_at'.humanize %>
    </th>
    <th>
      <%= 'current_sign_in_ip'.humanize %>
    </th>
    <th>
      <%= 'last_sign_in_ip'.humanize %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.id %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.created_at %>
      </td>
      <td>
        <%= user.sign_in_count %>
      </td>
      <td>
        <%= user.current_sign_in_at %>
      </td>
      <td>
        <%= user.last_sign_in_at %>
      </td>
      <td>
        <%= user.current_sign_in_ip %>
      </td>
      <td>
        <%= user.last_sign_in_ip %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
