<div class="card">
  <div class="card-header">
    <div class="fa fa-graduation-cap"></div>
    <%= link_to course.title, course_path(course) %>
  </div>
  <div class="card-body">
    <small>
      <%= simple_format(course.short_description) %>
    </small>
  </div>
  <div class="card-footer">
    <div class="text-center">
      <%= number_to_currency(course.price) %>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-6">
        <div class="fa fa-globe-africa"></div>
        <%= course.language %>
      </div>
      <div class="col-md-6">
        <div class="text-right">
          <div class="fa fa-signal"></div>
          <%= course.level %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-6">
        <div class="far fa-clock"></div>
        <%= course.created_at.strftime('%d-%b-%Y') %>
      </div>
      <div class="col-md-6">
        <div class="text-right">
          <div class="fa fa-chalkboard-teacher"></div>
          <%= course.user.username %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to 'Show', course, class: 'btn btn-sm btn-dark' %>
    <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-dark' %>
    <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </div>
</div>
