
<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.label :description %>
    <%= f.rich_text_area :description %>
    <%= f.input :short_description %>
    <div class="row">
      <div class="col"><%= f.input :language, collection: Course.languages, include_blank: true %></div>
      <div class="col"><%= f.input :level, collection: Course.levels, include_blank: true %></div>
      <div class="col"><%= f.input :price %></div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn swatch-indigo btn-sm my-2' %>
  </div>
<% end %>
