<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>
<p>
  <strong>Short Description:</strong>
  <%= @course.short_description %>
</p>
<p>
  <strong>Level:</strong>
  <%= @course.level %>
</p>
<p>
  <strong>Price:</strong>
  $<%= @course.price %>
</p>


<%= link_to '', courses_path, class: 'fas fa-long-arrow-alt-left btn btn-dark' %>
<%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-dark btn-sm' %>


