<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-xl">
    <a class="navbar-brand" href="/">TechUpskill</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbars">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Courses', courses_path, class: 'nav-link' %>
        </li>
        <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false"><%= current_user.email %></a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="dropdown">
            <li> <%= link_to 'Account', edit_user_registration_path, class: 'text-white dropdown-item' %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'text-white dropdown-item' %></li>
          </ul>
        </li>
        <% else %>
          <li class="nav-item">
            <span class="nav-link"><%= link_to 'Sign Up', new_user_registration_path %></span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><%= link_to 'Log In', new_user_session_path  %></span>
          </li>
        <% end %>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <%= form_tag(courses_path, method: :get) do %>
          <div class="input-group">
            <%= text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control' %>
            <span class="input-group-append">
              <button class="btn bd-indigo-400" type="submit">
                <span aria-hidden="true" class="fa fa-search"></span>
              </button>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>