<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-start">
  <div class="container-xl">

    <a class="navbar-brand" href="/">TechUpskill</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if current_user %>
        <ul class="navbar-nav mr-auto">
          <li class="<%= 'active font-weight-bold' if current_page?(root_path) %> nav-item">
            <%= link_to root_path, class: 'nav-link' do %>
              <div class="fa fa-home"></div>
              Home
            <% end %>
          </li>
          <li class="<%= 'active font-weight-bold' if current_page?(courses_path) %> nav-item">
            <%= link_to courses_path, class: 'nav-link' do %>
              <div class="fa fa-graduation-cap"></div>
              Courses
            <% end %>
          </li>
          <li class="<%= 'active font-weight-bold' if current_page?(new_course_path) %> nav-item">
            <%= link_to new_course_path, class: 'nav-link' do %>
              <div class="fa fa-plus"></div>
              New Course
            <% end %>
          </li>
          <li class="<%= 'active font-weight-bold' if current_page?(users_path) %> nav-item">
            <%= link_to users_path, class: 'nav-link' do %>
              <div class="fa fa-users"></div>
              Users
            <% end %>
          </li>
        </ul>
        <!--SEARCH IN NAVBAR
        -->
        <%= search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f| %>
          <div class="input-group">
            <%= f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off %>
            <span class="input-group-append">
<button class="btn bd-indigo-400 btn-sm" type="submit">
<span aria-hidden="true" class="fa fa-search"></span>
            </button>
</span>
          </div>
        <% end %>
        <ul class="nav justify-content-end">
          <% if current_user %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false"><%= current_user.email %></a>
              <ul class="dropdown-menu bg-dark" aria-labelledby="dropdown">
                <li> <%= link_to 'Account', edit_user_registration_path, class: 'text-white dropdown-item' %></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'text-white dropdown-item' %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item">
              <span class="nav-link"><%= link_to 'Sign Up', new_user_registration_path %></span>
            </li>
            <li class="nav-item">
              <span class="nav-link"><%= link_to 'Log In', new_user_session_path  %></span>
            </li>
          <% end %>
        </ul>
      <% else %>
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav mr-right">
          <li class="<%= 'active font-weight-bold' if current_page?(new_user_registration_path) %> nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="<%= 'active font-weight-bold' if current_page?(new_user_session_path) %> nav-item">
            <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>