<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-start">
  <div class="container-xl">
    <a class="navbar-brand" href="/">TechUpskill</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbars">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Courses', courses_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Users', users_path, class: 'nav-link' %>
        </li>

      </ul>
      <div class="form-inline my-2 my-lg-0">
        <%= search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f| %>
          <div class="input-group">
            <%= f.search_field :title_cont, class: 'form-control', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off %>
            <span class="input-group-append">
              <button class="btn bd-indigo-400" type="submit">
                <span aria-hidden="true" class="fa fa-search"></span>
              </button>
          </span>
          </div>
        <% end %>
      </div>
      <ul class="nav justify-content-end">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false"><%= current_user.email %></a>
            <ul class="dropdown-menu bg-dark" aria-labelledby="dropdown">
              <li> <%= link_to 'Account', edit_user_registration_path, class: 'text-white dropdown-item' %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'text-white dropdown-item' %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <span class="nav-link"><%= link_to 'Sign Up', new_user_registration_path %></span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><%= link_to 'Log In', new_user_session_path  %></span>
          </li>
        <% end %>
        </ul>
    </div>
  </div>
</nav>